<template>
  <div>
    <h2>Liste über laufende Software und Software-Repositorien</h2>
    <hr>
    <p>Übersicht <a href="https://gitlab.com/Tech4Comp?filter=fachlandkarten" target="_blank">aller Software-Repositorien</a>:</p>
    <ul>
      <li>Fachlandkarten (Web-App) (<a :href="frontendOrigin" target="_blank">aktive Instanz</a> / <a href="https://gitlab.com/Tech4Comp/fachlandkarten-ui" target="_blank">Repositorium</a>)</li>
      <li>Datenbank (Fuseki) (<a :href="serviceURIs.sparqlEndpoint.uri.replace('/eal','')" target="_blank">aktive Instanz</a> / <a href="https://jena.apache.org/documentation/fuseki2/" target="_blank">Dokumentation</a>)</li>
    </ul>
    <hr>
    <p>Genutzte Drittanwendungen:</p>
    <ul>
      <li>T-Mitocar (<a href="https://tech4comp.paedagogik.uni-halle.de" target="_blank">aktive Instanz</a> / Closed-Source)</li>
      <li>DBpedia Spotlight (<a href="https://www.dbpedia-spotlight.org/api" target="_blank">aktive Instanz</a> / <a href="https://github.com/dbpedia-spotlight" target="_blank">Repositorium</a>)</li>
    </ul>

    <h2>Liste von genutzten Drittpaketen</h2>
    <hr>
    <ul>
      <li v-for="(Package, index) in packages" :key="index"><a :href="'https://www.npmjs.com/package/' + Package.name + '/v/' + Package.version.replace('^','')" target="_blank">{{Package.name}}@{{Package.version}}</a></li>
    </ul>
  </div>
</template>

<script>
import * as serviceURIs from '@/config.js'
const packages = require('./../../package.json')

export default {
  name: 'about',
  data () {
    return {
      packages: [],
      serviceURIs,
      frontendOrigin: ''
    }
  },
  async created () {
    this.frontendOrigin = window.location.origin
    const dependencies = Object.keys(packages.dependencies).map(name => { return { name, version: packages.dependencies[name] } })
    const devDependencies = Object.keys(packages.devDependencies).map(name => { return { name, version: packages.devDependencies[name] } })
    Array.prototype.push.apply(this.packages, dependencies)
    Array.prototype.push.apply(this.packages, devDependencies)
    this.packages.sort((a, b) => a.name > b.name)
  }
}
</script>
