<template>
  <div>
    <ValidationObserver ref="formObserver">
      <b-form @submit.prevent="onSubmit">
        <b-container fluid>

          <b-row>
            <b-col>
              <ValidationProvider name="Grundtext" rules="min:100" v-slot="{passed, errors, changed}">
                <b-form-group :description="'Länge: ' + text.length + ' Zeichen'" label-cols="2">
                  <template v-slot:label>
                    Grundtext: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Fügen Sie den Text ein, der durch DBpedia Spotlight zur Annotation genutzt werden soll'"/>
                  </template>
                  <b-form-textarea v-model="text" placeholder="Ihr Text..." rows="6" :state="changed && !passed ? false : null"></b-form-textarea>
                  <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <ValidationProvider name="Textsprache" :rules="{ required: text.length >= 100 }" v-slot="{passed, errors, changed}">
                <b-form-group label-cols="2">
                  <template v-slot:label>
                    Textsprache: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Sprache des Textes. Begriffe in anderen als der angegebenen Sprache sollten manuell übersetzt werden.'"/>
                  </template>
                  <b-form-select v-model="language" :state="changed && !passed ? false : null" :disabled="disableLanguageInput || text.length < 100">
                    <b-form-select-option value="" disabled>Bitte wählen sie eine Textsprache aus</b-form-select-option>
                    <b-form-select-option value="en">Englisch</b-form-select-option>
                    <b-form-select-option value="de">Deutsch</b-form-select-option>
                  </b-form-select>
                  <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
                </b-form-group>
              </ValidationProvider>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <ValidationProvider name="Wissenslandkarte" rules="required|ext:csv|size:10000" v-slot="{passed, errors, changed}">
                <b-form-group label-cols="2">
                  <template v-slot:label>
                    Wissenslandkarte: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="`${disableFileInput ? 'Die durch T-Mitocar erzeugte Wissenslandkarte' : 'Durch T-Mitocar erzeugte Wissenslandkarte (CSV-Datei, ggf. manuell bearbeitet)'}`"/>
                  </template>
                  <b-form-file v-model="file" accept="text/csv" :placeholder="`${disableFileInput ? 'Wissenslandkarte.csv' : 'Eine Datei auswählen...'}`" drop-placeholder="Datei hier hin ziehen..." :state="changed && !passed ? false : null" :disabled="disableFileInput"/>
                  <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
                </b-form-group>
                <div v-if="file">
                  <span><strong>Größe:</strong> {{fileSizeString}}</span><br/>
                  <span><strong>Zuletzt bearbeitet:</strong> {{(new Date(file.lastModified)).toUTCString()}}</span>
                </div>
              </ValidationProvider>
            </b-col>
          </b-row>

          <hr>

          <b-row>
            <b-col>
              <h4 v-if="$store.state.spotlightOnline">Automatische Annotation</h4>
              <h4 v-else class="offline" v-b-popover.hover="'Der Dienst für die automatische Annotation ist offline'">Automatische Annotation</h4>
              <b-form-group label-cols="2">
                <template v-slot:label>
                  Automatische Annotation: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Wissenslandkarte wird über einen externen Dienst (DBpedia Spotlight) automatisiert annotiert, d.h. mit Daten aus dem Internet ergänzt'"/>
                </template>
                <b-input-group class="mb-3">
                  <b-form-checkbox v-model="useSpotlight" :disabled="disableSpotlight">{{useSpotlight ? 'aktiv' : 'deaktiviert'}}</b-form-checkbox>
                </b-input-group>
              </b-form-group>
              <b-form-group label-cols="2">
                <template v-slot:label>
                  Konfidenz: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Ein Schwellwert für die Genauigkeit der erkannten Begriffe. Höhere Werte resultieren in weniger annotierten Begriffen, die dafür aber sicherer zugeordnet werden können.'"/>
                </template>
                <b-input-group v-bind:append="confidence.toString()" class="mb-3">
                  <b-form-input type="range" min="0" max="1" step="0.1" v-model="confidence" required :disabled="!$store.state.spotlightOnline || useSpotlight === false"/>
                </b-input-group>
              </b-form-group>
            </b-col>
          </b-row>

          <hr>

          <b-row>
            <b-col>
              <b-button type="submit" variant="primary" :disabled="!isFormValid">{{useSpotlight ? 'Annotieren & als Fachlandkarte speichern' : 'Als Fachlandkarte speichern'}}</b-button>
            </b-col>
          </b-row>

        </b-container>
      </b-form>
    </ValidationObserver>

    <b-modal v-model="showReviewModal" title="Prüfung automatisch annotierter Knoten" centered :ok-title="(showAnnotatedGraphNode === amountOfAnnotatedGraphNodes -1) ? 'Speichern' : 'Alle akzeptieren'" @ok="saveGraph" cancel-title="Alle verwerfen" @cancel="() => { showAnnotatedGraphNode = 0; annotatedRdfGraphAsJSONLD = {}}" cancel-variant="danger" no-close-on-backdrop no-close-on-esc hide-header-close>
      <b-container fluid>
        <b-row align-v="center">
          <b-col>
            <div v-if="!isEmpty(currentAnnotatedGraphNode)">
              <h4>Knoten "{{(currentAnnotatedGraphNode || {}).label}}"</h4>
              <hr>
              <div v-if="!isEmpty(((currentAnnotatedGraphNode || {})['@type']))">
                <h6>Annotierte Typen:</h6>
                <ul>
                  <li v-for="(type, index) in ((currentAnnotatedGraphNode || {})['@type'])" :key="type">
                    <span v-if="type === 'term'">{{type}} (nicht entfernbar)</span>
                    <span v-else>
                      <a :href="type" target="_blank">{{type}}</a>&nbsp;
                      <b-button v-if="type !== 'term'" pill variant="danger" size="sm" v-b-popover.hover="'Entfernen'" @click="removeFromcurrentAnnotatedGraphNode('@type', index)"><font-awesome-icon icon="trash-alt"/></b-button>
                    </span>
                  </li>
                </ul>
              </div>
              <div v-if="!isEmpty(((currentAnnotatedGraphNode || {}).sameAs))">
                <h6>Links ins Web:</h6>
                <ul>
                  <li v-for="(uri, index) in ((currentAnnotatedGraphNode || {}).sameAs)" :key="uri">
                    <a :href="uri" target="_blank">{{uri}}</a>&nbsp;
                    <b-button pill variant="danger" size="sm" v-b-popover.hover="'Entfernen'" @click="removeFromcurrentAnnotatedGraphNode('sameAs', index)"><font-awesome-icon icon="trash-alt"/></b-button>
                  </li>
                </ul>
              </div>
              <hr/>
              <div v-if="showAnnotatedGraphNode < amountOfAnnotatedGraphNodes - 1">
                <b-button variant="info" @click="showAnnotatedGraphNode += 1">Nächster Knoten</b-button> <span>weitere {{amountOfAnnotatedGraphNodes - showAnnotatedGraphNode - 1}} Knoten</span>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>

import ky from 'ky'
import isEmpty from 'lodash/isEmpty'
import kmAPI from '@/api/knowledgeMap'
import spotlightAPI from '@/api/spotlight'
import { turtleToJSONLD, jsonldToNQuads, turtleToNquads, annotateGraphWithSpotlight } from '@/nonUI/jsonld'
import { isTextFile, isPDFFile } from '@/common'
import { isCsvFile, isCsvValid } from '@/nonUI/csv'

export default {
  name: 'dskgCreation',
  props: {
    sourceFile: { type: File, default: null },
    csvFile: { type: File, default: null },
    textLanguage: { type: String, default: '' }
  },
  data: () => {
    return {
      file: null,
      useSpotlight: false,
      confidence: 0.5,
      isFormValid: false,
      text: '',
      language: '',
      showReviewModal: false,
      annotatedRdfGraphAsJSONLD: {},
      showAnnotatedGraphNode: 0
    }
  },
  async updated () {
    this.isFormValid = (await this.$refs.formObserver.validate())
  },
  computed: {
    fileSizeString () {
      let size = this.file.size
      if (size < 1000)
        return size.toFixed(2) + ' Byte'
      else {
        size /= 1024
        if (size < 1000)
          return size.toFixed(2) + ' KiByte'
        else {
          size /= 1024
          return size.toFixed(2) + ' MiByte'
        }
      }
    },
    disableSpotlight () {
      return this.text.length < 100 && (this.sourceFile === null || isPDFFile(this.sourceFile))
    },
    disableFileInput () {
      return this.csvFile !== null && isCsvFile(this.csvFile)
    },
    disableLanguageInput () {
      return this.textLanguage !== ''
    },
    annotatedGraphNodes () {
      if (!isEmpty(this.annotatedRdfGraphAsJSONLD) && !isEmpty(this.annotatedRdfGraphAsJSONLD['@graph']))
        return this.annotatedRdfGraphAsJSONLD['@graph'].filter((el) => el['@type'].length !== 1 || el.sameAs !== undefined)
      else
        return undefined
    },
    amountOfAnnotatedGraphNodes () {
      if (!isEmpty(this.annotatedGraphNodes)) {
        return this.annotatedGraphNodes.length
      } else
        return 0
    },
    currentAnnotatedGraphNode () {
      if (!isEmpty(this.annotatedRdfGraphAsJSONLD) && !isEmpty(this.annotatedRdfGraphAsJSONLD['@graph']) && !isEmpty(this.annotatedGraphNodes)) {
        const searchID = this.annotatedGraphNodes[this.showAnnotatedGraphNode]['@id']
        return this.annotatedRdfGraphAsJSONLD['@graph'].find(el => el['@id'] === searchID)
      } else
        return undefined
    }
  },
  watch: {
    csvFile: {
      handler: function (newVal) {
        if (newVal !== null && isCsvFile(newVal)) {
          this.file = newVal
        }
      },
      immediate: true
    },
    textLanguage: {
      handler: function (newVal) {
        if (!isEmpty(newVal)) {
          this.language = newVal
        }
      },
      immediate: true
    },
    sourceFile: {
      handler: async function (newVal) {
        if (newVal !== null && isTextFile(newVal)) {
          this.text = await newVal.text()
        }
      },
      immediate: true
    },
    file: async function (newVal) {
      if (newVal !== null) {
        if (isCsvFile(newVal)) {
          if (!(await isCsvValid(newVal))) {
            this.$swal.fire({ icon: 'error', titleText: 'CSV Inhalt nicht akzeptiert', text: 'Der Inhalt der CSV-Datei entspricht nicht dem Format von T-Mitocar. Bitte halten Sie sich strikt an das Format.' })
            this.file = null
            this.isFormValid = false // NOTE for some reason it needs to be explicitly set here
          }
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Format nicht unterstützt', text: 'Das Dateiformat wird nicht unterstützt. Bitte wählen Sie nur CSV-Dateien aus.' })
          this.file = null
          this.isFormValid = false // NOTE for some reason it needs to be explicitly set here
        }
      }
      this.isFormValid = await this.$refs.formObserver.validate()
    },
    text (newVal) {
      if (newVal.length === 0) {
        this.useSpotlight = false
        this.language = ''
      }
    },
    async language () {
      this.isFormValid = await this.$refs.formObserver.validate()
    }
  },
  methods: {
    isEmpty,
    async onSubmit () {
      this.$swal.fire({ icon: 'info', titleText: 'Generiere Fachlandkarte...', didOpen: () => this.$swal.showLoading() })

      const formData = new FormData()
      formData.append('model', this.file, 'model.csv')
      let rdfGraph = await ky.post('/convertModelToRDF', {
        body: formData,
        // headers: { accept: '*/*; charset=utf-8' },
        timeout: false
      }).blob()

      if (this.useSpotlight && this.text.length > 1) {
        try {
          const spotlightData = await spotlightAPI.getTextAnnotations(this.text, this.confidence, this.language)
          const rdfGraphAsTurtle = await rdfGraph.text()
          const rdfGraphAsJSONLD = await turtleToJSONLD(rdfGraphAsTurtle)
          this.annotatedRdfGraphAsJSONLD = await annotateGraphWithSpotlight(rdfGraphAsJSONLD, spotlightData)
          this.$swal.close()
          this.showReviewModal = true
          this.$swal.fire({ icon: 'info', titleText: 'Prüfung der automatischen Annotation', text: 'Bitte prüfen Sie ob die hinterlegten Typen und Links ins Web zum Term passen. Typen können dabei vglw. allgemein sein und sollten, falls passend, erhalten werden. Links ins Web sollten die Bedeutung des Terms näher beschreiben, jedoch nicht zu anderen Themen führen. Bei Klick auf angezeigte Links wird die entsprechende Beschreibung in einem neuem Tab geöffnet.' })
        } catch (err) {
          console.log(err)
          this.$swal.fire({ icon: 'error', titleText: 'Fehler der Annotation', text: 'Bei der Annotation mit DBpedia Spotlight ist ein Fehler aufgetreten. Versuchen Sie bitte die Fachlandkarte ohne die Verarbeitung durch DBpedia Spotlight zu erzeugen.' })
          return false
        }
      } else {
        rdfGraph = await turtleToNquads(await rdfGraph.text())
        this.saveGraph(rdfGraph)
      }
    },
    async saveGraph (rdfGraph = '') {
      try {
        if (!isEmpty(this.annotatedRdfGraphAsJSONLD)) {
          const annotatedRdfGraphAsNquads = await jsonldToNQuads(this.annotatedRdfGraphAsJSONLD)
          console.log(annotatedRdfGraphAsNquads)
          rdfGraph = new Blob([annotatedRdfGraphAsNquads], { type: 'application/n-quads' })
        }
      } catch (e) {
        console.log('Failure parsing annotatedRdfGraphAsJSONLD', e)
        this.annotatedRdfGraphAsJSONLD = {}
        return false
      }
      // NOTE rdfGraph is now in format n-quads

      const answer = await this.$swal.fire({ icon: 'info', title: 'Name der Fachlandkarte', input: 'text', inputAttributes: { autocapitalize: 'off' }, confirmButtonText: 'Weiter', cancelButtonText: 'Abbrechen', showCancelButton: true })
      if (answer.isConfirmed === true && !isEmpty(answer.value)) {
        const graphName = await kmAPI.uploadNewKnowledgeMap(rdfGraph, answer.value)
        if (!isEmpty(graphName)) {
          const editMap = await this.$swal.fire({ icon: 'question', titleText: 'Neue Fachlandkarte bearbeiten?', text: 'Möchten Sie der Weiterleitung folgen und die neu erstellte Fachlandkarte bearbeiten? Alternativ können Sie die Fachlandkarte auch später über das Hauptmenü aufrufen.', confirmButtonText: 'Ja', cancelButtonText: 'Nein', showCancelButton: true })
          if (editMap.isConfirmed)
            this.$router.push({ name: 'ontodiaRDFStore', params: { openKnowledgeMap: graphName } })
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Der Datensatz konnte nicht gespeichert werden', text: 'Melden Sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
      } else if (isEmpty(answer.value)) {
        this.$swal.fire({ icon: 'error', titleText: 'Kein Name angegeben', text: 'Bitte wiederholen Sie den gesamten Vorgang und geben Sie einen Namen für die zu speichernde Fachlandkarte an!' })
      }
    },
    // removes things from this.annotatedRdfGraphAsJSONLD[@graph][element] via ref
    removeFromcurrentAnnotatedGraphNode (path = 'type', position) {
      this.currentAnnotatedGraphNode[path].splice(position, 1)
      if (path === 'sameAs' && isEmpty(this.currentAnnotatedGraphNode[path]))
        delete this.currentAnnotatedGraphNode[path]
    }
  }
}

</script>

<style scoped>

  span.spinner-border {
    width: 6rem;
    height: 6rem;
  }

  .col > h4 {
    width: 17rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }

  .col > button {
    margin-left: 0.5rem;
  }
  .col > button:first-child {
    margin-left: 0rem;
  }

  hr {
    margin-top: 0;
  }

  hr:first-of-type {
    margin-top: 1rem;
  }

  h4.offline {
    color: #BB0000;
  }
  .validationReport {
    color: #dc3545;
  }
  .custom-checkbox {
    margin-top: 0.5rem;
  }
</style>
