<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <b-form-group>
          <b-form-select v-model="selection.selectedKnowledgeMap" :options="sortedKowledgeMapOptions">
            <template v-slot:first>
              <option :value="undefined" disabled>Bitte wählen sie eine existierende Fachlandkarte aus</option>
            </template>
          </b-form-select>
        </b-form-grouP>
      </b-col>

      <b-col cols="2" style="padding-top: 0.4rem;">
        <b-form-checkbox v-model="selection.reduced">Reduziert <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Reduziert die Komplexität der Karte, indem einige Knoten ausgeblendet werden.'"/></b-form-checkbox>
      </b-col>

      <b-col cols="1" align="center">
        <verticalLine/>
      </b-col>

      <b-col cols="4">
        <ValidationProvider name="Anzuzeigende Datei" :rules="'required|ext:ttl,graphml'" v-slot="{passed, errors, changed}">
          <b-form-group>
            <b-form-file v-model="file" accept=".ttl, .graphml" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." :state="changed && !passed ? false : null"/>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
        </ValidationProvider>
      </b-col>
    </b-row>

    <hr>

    <b-row>
      <b-col>
        <div v-if="showSpinner" class="text-center">
          <b-spinner class="loadDataSpinner" variant="info"></b-spinner>
        </div>
        <div id="forceGraph"/>
      </b-col>
    </b-row>
    <b-row v-if="isEmpty(dataToShow)">
      <b-col>
        <b-alert show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
      </b-col>
    </b-row>
    <ontodiaModal v-model="showModal" :subjectIRI="subjectIRI" :graph="modalData" :selectedKnowledgeMap="selection.selectedKnowledgeMap" :selectedNodeName="selectedNodeName" :allowEdit="false" @alteredData="reloadGraph()"/>
  </b-container>
</template>

<script>
import ForceGraph3D from '3d-force-graph'
import kmAPI from '@/api/knowledgeMap'
import isEmpty from 'lodash/isEmpty'
import sortBy from 'lodash/sortBy'
import first from 'lodash/first'
import verticalLine from '@/components/verticalLine'
import SpriteText from 'three-spritetext'
import { isGraphMLFile, convertFile as convertGraphMLFile } from '@/nonUI/graphMLConversion'
import { isTurtleFile, convertFile as convertTurtleFile } from '@/nonUI/turtleConversion'
import { convertFile as convertJsonldFile } from '@/nonUI/jsonldConversion'
import ontodiaModal from '@/components/ontodiaModal.vue'

export default {
  name: 'forceGraphontodia',
  components: { verticalLine, ontodiaModal },
  props: { },
  data: () => {
    return {
      graph: undefined,
      dataToShow: {},
      showSpinner: false,
      file: null,
      selection: {
        selectedKnowledgeMap: undefined,
        reduced: false
      },
      graphType: 'rdf',
      weightedGraph: false,
      availableHeight: 650,
      showModal: false,
      subjectIRI: undefined,
      modalData: '',
      selectedNodeName: undefined
      // orig: null
    }
  },
  async created () {
    await this.$store.dispatch('fillKowledgeMapOptions')
  },
  mounted () {
    const navbarHeight = document.querySelector('.navbar').clientHeight
    const windowHeight = window.innerHeight
    this.availableHeight = (windowHeight - navbarHeight - 180)
  },
  computed: {
    sortedKowledgeMapOptions () {
      return sortBy(this.$store.state.kowledgeMapOptions, ['text'])
    }
  },
  watch: {
    file: async function (newVal, oldVal) {
      if (newVal !== null) {
        this.dataToShow = {}
        this.modalData = ''
        this.subjectIRI = undefined
        this.showSpinner = true
        this.selection.selectedKnowledgeMap = undefined
        let fileContent = await this.file.text()
        if (isGraphMLFile(this.file)) {
          this.graphType = 'graphml'
          fileContent = convertGraphMLFile(fileContent)
          this.weightedGraph = first(fileContent.edges).weight !== undefined
          this.dataToShow = fileContent
        } else if (isTurtleFile(this.file)) {
          this.graphType = 'rdf'
          this.dataToShow = await convertTurtleFile(fileContent)
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Eingabeformat nicht unterstützt', text: 'Der ausgewählte Datensatz kann nicht geladen werden da das Eingabeformat nicht unterstützt wird. Bitte nutzen sie .ttl oder .graphml Dateien.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
        this.showSpinner = false
      }
    },
    async dataToShow (newVal, oldVal) {
      if (!isEmpty(newVal) && !isEmpty(newVal.nodes) && !isEmpty(newVal.edges)) {
        if (isEmpty(this.graph))
          this.createForceGraph()
        this.graph.graphData({ nodes: newVal.nodes, links: newVal.edges })
          .nodeAutoColorBy('group').linkAutoColorBy('group')
          .linkOpacity(0.5).nodeOpacity(1)
          .backgroundColor('#FFFFFF')
          .onNodeDragEnd(node => {
            node.fx = node.x
            node.fy = node.y
            node.fz = node.z
          })
          .nodeThreeObject(node => {
            const sprite = new SpriteText(node.name)
            sprite.material.depthWrite = false
            sprite.color = node.color
            sprite.textHeight = 8
            sprite.fontWeight = 'bold'
            return sprite
          })
          .d3Force('charge').strength(-500)
        if (this.graphType === 'rdf')
          this.graph
            .linkDirectionalArrowLength(3.5)
            .linkDirectionalArrowRelPos(1)
        else if ((this.graphType === 'graphml' && this.weightedGraph === true) || this.graphType === 'dskg')
          this.graph
            .linkThreeObjectExtend(true)
            .linkThreeObject(link => {
              const text = (this.graphType === 'dskg') ? `${link.text}` : `${link.weight.toFixed(2)}`
              const sprite = new SpriteText(text)
              sprite.color = 'black'
              sprite.textHeight = 3
              sprite.fontWeight = 'bold'
              return sprite
            })
            .linkPositionUpdate((sprite, { start, end }) => {
              const middlePos = Object.assign(...['x', 'y', 'z'].map(c => ({
                [c]: start[c] + (end[c] - start[c]) / 2 // calc middle point
              })))
              Object.assign(sprite.position, middlePos)
            })
        if (this.graphType === 'dskg')
          this.graph.onNodeClick(node => {
            console.log(node)
            this.showModal = true
            this.subjectIRI = node.id
            this.selectedNodeName = node.name
          })
      }
    },
    selection: {
      handler: async function (newVal, oldVal) {
        if (newVal.selectedKnowledgeMap !== undefined) {
          this.modalData = ''
          this.subjectIRI = undefined
          this.loadKnowledgeMap(newVal.selectedKnowledgeMap)
        }
      },
      deep: true
    }
  },
  methods: {
    isEmpty,
    createForceGraph () {
      const box = document.getElementById('forceGraph')
      this.graph = ForceGraph3D()(box).width(box.offsetWidth).height(this.availableHeight)
    },
    async loadKnowledgeMap (selectedKnowledgeMap) {
      this.showSpinner = true
      this.graphType = 'dskg'
      try {
        const knowledgeMap = await kmAPI.getWholeMap(selectedKnowledgeMap, 'application/ld+json')
        this.modalData = knowledgeMap
        this.dataToShow = await convertJsonldFile(knowledgeMap)
      } catch (e) {
        console.log(e)
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim abrufen der Daten', text: 'Der ausgewählte Datensatz kann leider nicht angezeigt werden. Bitte wählen sie einen anderen Datensatz aus und berichten sie den Fehler an den Entwickler der Anwendung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      } finally {
        this.showSpinner = false
      }
    },
    reloadGraph () {
      this.loadKnowledgeMap(this.selection.selectedKnowledgeMap)
    }
  }
}
</script>

<style scoped>
  .validationReport {
    color: #dc3545;
  }
  #forceGraph {
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
</style>
