<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <ValidationProvider name="Anzuzeigende Datei" :rules="'required|ext:ttl,jsonld'" v-slot="{passed, errors, changed}">
          <b-form-group label-cols="2">
            <template v-slot:label>
              Anzuzeigende Datei: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Unterstützt werden Turtle und JSON-LD Dateien'"/>
            </template>
            <b-form-file v-model="file" accept=".ttl,.jsonld" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." :state="changed && !passed ? false : null"/>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
        </ValidationProvider>
      </b-col>
      <b-col cols="1" align="center">
        <div class="verticalLine"></div>
      </b-col>
      <b-col cols="2">
        <b-button @click="uploadFile()" :disabled="file === null">Fachlandkarte dauerhaft speichern</b-button>
      </b-col>
    </b-row>

    <hr>

    <b-row>
      <b-col>
        <div v-if="showSpinner" class="text-center">
          <b-spinner class="loadDataSpinner" variant="info"></b-spinner>
        </div>
        <ontodia v-else-if="!showSpinner && dataToShow" :dataToShow="dataToShow" :dynamicModal="false"/>
        <b-alert v-else show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ontodia from '@/components/ontodia.vue'
import kmAPI from '@/api/knowledgeMap'
import { isTurtleFile } from '@/nonUI/turtleConversion'
import { isJSONLD, turtleToNquads, jsonldToNQuads } from '@/nonUI/jsonld'
import isEmpty from 'lodash/isEmpty'

export default {
  name: 'OntodiaView',
  components: { ontodia },
  data: () => {
    return {
      dataToShow: '',
      showSpinner: false,
      file: null
    }
  },
  watch: {
    file: async function (newVal) {
      if (newVal !== null) {
        this.dataToShow = ''
        if (isTurtleFile(newVal)) {
          this.dataToShow = await turtleToNquads(await this.file.text())
          this.showSpinner = false
        } else if (await isJSONLD(newVal)) {
          this.dataToShow = await jsonldToNQuads(JSON.parse(await this.file.text()))
          this.showSpinner = false
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Format nicht unterstützt', text: 'Das Dateiformat wird nicht unterstützt. Bitte wählen Sie nur valide .ttl oder .jsonld Dateien aus.' })
          this.file = null
          this.dataToShow = ''
        }
      }
    }
  },
  methods: {
    isEmpty,
    async uploadFile () {
      const answer = await this.$swal.fire({ icon: 'info', title: 'Name der Fachlandkarte', input: 'text', inputAttributes: { autocapitalize: 'off' }, confirmButtonText: 'Weiter', cancelButtonText: 'Abbrechen', showCancelButton: true })
      if (answer.isConfirmed === true && !isEmpty(answer.value)) {
        const toSend = new Blob([this.dataToShow], { type: 'application/n-quads' })
        const graphName = await kmAPI.uploadNewKnowledgeMap(toSend, answer.value)
        if (!isEmpty(graphName)) {
          await this.$router.push({ name: 'ontodiaRDFStore', params: { openKnowledgeMap: graphName, typeOfDiagram: 'full' } })
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Der Datensatz konnte nicht gespeichert werden', text: 'Melden sie dies bitte bei ihrem Programmentwickler', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
      } else if (isEmpty(answer.value)) {
        this.$swal.fire({ icon: 'error', titleText: 'Kein Name angegeben', text: 'Bitte wiederholen Sie den Vorgang und geben sie einen Namen für die zu speichernde Fachlandkarte an!' })
      }
    }
  }
}

</script>

<style scoped>
  .form-group {
    margin-bottom: 0;
  }
  .loadDataSpinner {
    width: 8rem;
    height: 8rem;
    position:absolute;
    top: 28%;
    z-index:10
  }
  .validationReport {
    color: #dc3545;
  }
</style>
