<template>
  <b-container fluid>
    <b-row>
      <b-col cols="6">
        <b-form-group label="Art der Anzeige:" label-cols="2">
          <b-form-select v-model="selection.typeOfDiagram" :options="diagramOptions">
            <template v-slot:first>
              <option :value="undefined" disabled>Bitte wählen sie eine Art der Anzeige aus</option>
            </template>
          </b-form-select>
        </b-form-grouP>
      </b-col>

      <b-col>
        <b-form-group label="Fachlandkarte:" label-cols="2">
          <b-form-select v-model="selection.selectedKnowledgeMap" :options="sortedKowledgeMapOptions" :disabled="isEmpty(selection.typeOfDiagram)">
            <template v-slot:first>
              <option :value="undefined" disabled>Bitte wählen sie eine existierende Fachlandkarte aus</option>
            </template>
          </b-form-select>
        </b-form-grouP>
      </b-col>

      <b-col v-if="showNoEditInfo" cols="1" align="right" v-b-tooltip.hover title="Die Karte enthält ein Thema und kann daher nicht editiert werden">
        <font-awesome-icon icon="exclamation-circle" style="color: red; margin-top: 0.6rem;"/>
      </b-col>
    </b-row>

    <hr>

    <b-row>
      <b-col>
        <div v-if="showSpinner" class="text-center">
          <b-spinner class="loadDataSpinner" variant="info"></b-spinner>
        </div>
        <ontodia v-else-if="!showSpinner && dataToShow" :dataToShow="dataToShow" :dynamicModal="dynamicLinking" :selectedKnowledgeMap="selection.selectedKnowledgeMap" @reload="reload" @noEditRights="(val) => showNoEditInfo = val"/>
        <b-alert v-else show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
      </b-col>
    </b-row>

    <hr>

    <b-row v-if="!showSpinner && dataToShow">
      <b-col>
        <b-button v-if="!showNoEditInfo" @click="addTerm()">Term hinzufügen</b-button>
        <b-button class="float-right" @click="downloadGraph(true)">Vollständigen Graph herunterladen</b-button>
        <b-button class="float-right" @click="downloadGraph()">Angezeigten Graph herunterladen</b-button>
        <b-button class="float-right" variant="danger" @click="deleteGraph()">Fachlandkarte löschen</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ontodia from '@/components/ontodia.vue'
import kmAPI from '@/api/knowledgeMap'
import isEmpty from 'lodash/isEmpty'
import sortBy from 'lodash/sortBy'
import jsonld from 'jsonld'
import { saveAs } from 'file-saver'

export default {
  name: 'OntodiaView',
  components: { ontodia },
  props: {
    openKnowledgeMap: { type: String, default: '' },
    typeOfDiagram: { type: String, default: undefined },
    dynamicLinking: { type: Boolean, default: true }
  },
  data: () => {
    return {
      dataToShow: '',
      showSpinner: false,
      diagramOptions: [
        { value: 'full', text: 'Vollständig' },
        { value: 'centralTerms', text: 'Zentrale Terme' },
        { value: 'continuativeMaterial', text: 'Weiterführendes Material' }
      ],
      selection: {
        selectedKnowledgeMap: undefined,
        typeOfDiagram: undefined
      },
      showNoEditInfo: false
    }
  },
  async created () {
    await this.$store.dispatch('fillKowledgeMapOptions')
    if (!isEmpty(this.openKnowledgeMap) && !isEmpty(this.$store.state.kowledgeMapOptions.filter((km) => km.value === this.openKnowledgeMap))) {
      this.selection.selectedKnowledgeMap = this.openKnowledgeMap
      this.selection.typeOfDiagram = 'full'
    }
  },
  computed: {
    sortedKowledgeMapOptions () {
      return sortBy(this.$store.state.kowledgeMapOptions, ['text'])
    },
    selectedKnowledgeMapName () {
      return (this.$store.state.kowledgeMapOptions.find((x) => x.value === this.selection.selectedKnowledgeMap) || {}).text
    }
  },
  watch: {
    selection: {
      handler: async function (newVal) {
        if (newVal.selectedKnowledgeMap !== undefined) {
          this.fillData(newVal.selectedKnowledgeMap)
        }
      },
      deep: true
    }
  },
  methods: {
    isEmpty,
    reload () {
      this.fillData(this.selection.selectedKnowledgeMap)
    },
    async fillData (selectedKnowledgeMap) {
      this.showSpinner = true
      try {
        const promises = [kmAPI.getSpecializedMap(selectedKnowledgeMap, this.selection.typeOfDiagram, 'application/ld+json')]
        const [knowledgeMap] = await Promise.all(promises)
        this.dataToShow = await jsonld.toRDF(knowledgeMap, { format: 'application/n-quads' })
      } catch (e) {
        console.log(e)
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim abrufen der Daten', text: 'Der ausgewählte Datensatz kann leider nicht angezeigt werden. Bitte wählen sie einen anderen Datensatz aus und berichten sie den Fehler an den Entwickler der Anwendung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      } finally {
        this.showSpinner = false
      }
    },
    async addTerm () {
      const answer = await this.$swal.fire({ icon: 'question', title: 'Name des Terms', text: 'Bitte geben sie den Namen in deutscher Sprache an', input: 'text', inputAttributes: { autocapitalize: 'off' }, confirmButtonText: 'Hinzufügen', cancelButtonText: 'Abbrechen', showCancelButton: true })
      if (answer.isConfirmed === true && !isEmpty(answer.value)) {
        this.$swal.fire({ title: 'Speichere Datensatz...', didOpen: () => { this.$swal.showLoading() } })
        try {
          await kmAPI.createTerm(this.selection.selectedKnowledgeMap, answer.value)
          this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Daten erfolgreich gespeichert' })
          this.reload()
        } catch (e) {
          this.$swal.fire({ icon: 'error', titleText: 'Ein Fehler ist aufgetreten', text: 'Bitte melden Sie diesen Fehler mit einer möglichst genauen Beschreibung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
      }
    },
    async downloadGraph (fullGraph = false) {
      const name = this.selectedKnowledgeMapName || (new Date()).toUTCString()
      let data
      if (fullGraph)
        data = await kmAPI.getWholeMap(this.selection.selectedKnowledgeMap)
      else
        data = await kmAPI.getSpecializedMap(this.selection.selectedKnowledgeMap, this.selection.typeOfDiagram)
      const toDownload = new File([data], name + '.ttl', { type: 'text/turtle' })
      saveAs(toDownload)
    },
    async deleteGraph () {
      const answer = await this.$swal.fire({ icon: 'warning', title: 'Die Fachlandkarte wirklich löschen?', text: 'Sind Sie sich ganz sicher? Dies kann nicht rückgängig gemacht werden!', confirmButtonText: 'Jetzt löschen', confirmButtonColor: '#ff0000', cancelButtonText: 'Abbrechen', showCancelButton: true })
      if (answer.isConfirmed === true) {
        this.$swal.fire({ title: 'Lösche Fachlandkarte...', didOpen: () => { this.$swal.showLoading() } })
        try {
          await kmAPI.deleteKnowledgeMap(this.selection.selectedKnowledgeMap)
          this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Daten erfolgreich gelöscht' })
          this.$router.push({ name: 'home' })
        } catch (e) {
          this.$swal.fire({ icon: 'error', titleText: 'Ein Fehler ist aufgetreten', text: 'Bitte melden Sie diesen Fehler mit einer möglichst genauen Beschreibung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
      }
    }
  }
}

</script>

<style scoped>
  .form-group {
    margin-bottom: 0;
  }
  .loadDataSpinner {
    width: 8rem;
    height: 8rem;
    position:absolute;
    top: 28%;
    z-index:10
  }
  .col > button {
    margin-left: 0.5rem;
  }
  .col > button:first {
    margin-left: 0rem;
  }
</style>
