<template>
  <div>
    <b-sidebar :visible="sidebarVisible" shadow right lazy>
      <template #header>
        <h4>Verbundene Knoten</h4>
      </template>
      <ul>
        <li v-for="node in sortedSidebarNodeList" :key="node.name">{{node.name}}{{(node.group !== 'undefined') ? ` (${node.group})` : ''}}</li>
      </ul>
      <h5>Knoten, die mehreren Gebieten angehören, werden in dieser Liste nicht angezeigt</h5>
    </b-sidebar>
    <b-container fluid>
      <b-row ref="aboveSigma">
        <b-col cols="4">
          <b-form-group label-cols="3">
            <template v-slot:label>
              {{!compare ? 'Modell' : 'Grundmodell'}}:
            </template>
            <b-form-file v-model="file" accept=".json,.graphml,.ttl" placeholder="Datei ..." drop-placeholder="Datei hier hin ziehen..."/>
          </b-form-group>
        </b-col>

        <b-col cols="1" align="center" id="verticalLine">
          <verticalLine/>
        </b-col>

        <b-col cols="2">
          <b-form-group>
            <b-form-select v-model="selectedKnowledgeMap" :options="sortedKowledgeMapOptions">
              <template v-slot:first>
                <option :value="undefined" disabled>Fachlandkarte ...</option>
              </template>
            </b-form-select>
          </b-form-grouP>
        </b-col>

        <b-col cols="5">
          <div v-if="!compare" class="text-center">
            <b-button variant="secondary" @click="compare = !compare">Modell Vergleichen</b-button>
          </div>
          <b-form-group v-else label-cols="3">
            <template v-slot:label>
              Vergleichsmodell:
            </template>
            <b-form-file v-model="file2" accept=".json,.graphml,.ttl" placeholder="Datei ..." drop-placeholder="Datei hier hin ziehen..."/>
          </b-form-group>
        </b-col>
      </b-row>
      <hr>
      <b-row>
        <b-col :style="sigmaHeightStyle" id="sigmaParentContainer" ref="sigmaParentContainer">
          <div id="sigmaGraphContainer" v-show="file !== null || file2 !== null || selectedKnowledgeMap !== undefined"/>
          <b-alert v-show="file === null && file2 === null && selectedKnowledgeMap === undefined" show variant="warning">Aktuell sind keine Daten ausgewählt, die angezeigt werden könnten</b-alert>
          <div v-if="showOptionButtons" >
            <b-button variant="secondary" @click="highlightIntDiff()">Schnittmenge</b-button>
            <b-button variant="secondary" @click="highlightIntDiff(true)">Differenz A/B</b-button>
            <b-button variant="secondary" @click="highlightIntDiff(true, true)">Differenz B/A</b-button>
            <b-button variant="secondary" @click="highlightSymetricalDifference()">Sym. Differenz</b-button>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Graph from 'graphology'
import Sigma from 'sigma'
import { animateNodes } from 'sigma/utils/animate'
import kmAPI from '@/api/knowledgeMap'
import isEmpty from 'lodash/isEmpty'
import sortBy from 'lodash/sortBy'
import { isTurtleFile, convertFile as convertTurtleFile } from '@/nonUI/turtleConversion'
import { isGraphMLFile, convertFile as convertGraphMLFile } from '@/nonUI/graphMLConversion'
import { convertFile as convertJsonldFile } from '@/nonUI/jsonldConversion'
import { isJSON } from '@/nonUI/jsonld'
import randomLayout from 'graphology-layout/random'
import forceAtlas2 from 'graphology-layout-forceatlas2'
import verticalLine from '@/components/verticalLine'
import chroma from 'chroma-js'

export default {
  name: 'forceGraphontodia',
  components: { verticalLine },
  props: { },
  data: () => {
    return {
      compare: false,
      file: null,
      file2: null,
      selectedKnowledgeMap: undefined,
      graph1: undefined,
      graph2: undefined,
      renderedGraph: undefined,
      sigma: undefined,
      highlightedNodes: new Set(),
      highlightedEdges: new Set(),
      sidebarNodeSet: new Set(),
      sigmaHeightStyle: { 'min-height': '40rem' },
      colorPalette: [],
      sidebarVisible: false
    }
  },
  async created () {
    await this.$store.dispatch('fillKowledgeMapOptions')
    this.colorPalette = chroma.scale(['red', 'blue', 'green']).colors(12)
  },
  mounted () {
    const navbarHeight = document.querySelector('.navbar').clientHeight
    const footerHeight = document.querySelector('#footer').clientHeight
    const windowHeight = window.innerHeight
    const aboveSigma = this.$refs.aboveSigma.clientHeight
    this.sigmaHeightStyle = { 'min-height': (windowHeight - navbarHeight - footerHeight - aboveSigma - 100) + 'px' }
  },
  computed: {
    sortedSidebarNodeList () {
      return Array.from(this.sidebarNodeSet).sort((a, b) => a.name > b.name)
    },
    sortedKowledgeMapOptions () {
      return sortBy(this.$store.state.kowledgeMapOptions, ['text'])
    },
    showOptionButtons () {
      return this.graph1 !== undefined && this.graph2 !== undefined
    },
    isClusteredGraph () {
      const graph1Groups = new Set()
      if (!isEmpty(this.graph1))
        this.graph1.forEachNode((_, attributes) => {
          graph1Groups.add(attributes.group)
        })
      const graph2Groups = new Set()
      if (!isEmpty(this.graph2))
        this.graph2.forEachNode((_, attributes) => {
          graph2Groups.add(attributes.group)
        })
      return graph1Groups.size > 1 || graph2Groups.size > 1
    }
  },
  watch: {
    file: async function (newVal) {
      await this.loadFile(newVal, 1)
    },
    file2: async function (newVal) {
      await this.loadFile(newVal, 2, true)
    },
    selectedKnowledgeMap: async function (newVal, oldVal) {
      if (newVal !== undefined) {
        this.loadKnowledgeMap(newVal)
      }
    }
  },
  methods: {
    isEmpty,
    killSigma (graphNo) {
      if (this.sigma !== undefined) {
        this.clearHighlighting()
        this.sigma.kill()
        if (graphNo === 1)
          this.graph1 = undefined
        else if (graphNo === 2)
          this.graph2 = undefined
      }
    },
    async loadFile (file, graphNo = 1, useDifferentColor = false) {
      if (file !== null) {
        this.killSigma(graphNo)
        if (graphNo === 1)
          this.selectedKnowledgeMap = undefined
        let fileContent = null
        let fileType = null
        if (await isJSON(file)) {
          fileType = 'json'
          fileContent = JSON.parse(await file.text())
        } else if (isGraphMLFile(file)) {
          fileType = 'graphml'
          fileContent = convertGraphMLFile(await file.text(), true, useDifferentColor)
        } else if (isTurtleFile(file)) {
          fileType = 'turtle'
          fileContent = await convertTurtleFile(await file.text())
        } else {
          this.$swal.fire({ icon: 'error', titleText: 'Eingabeformat nicht unterstützt', text: 'Der ausgewählte Datensatz kann nicht geladen werden da das Eingabeformat nicht unterstützt wird. Bitte nutzen sie .json oder .graphml Dateien.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
        }
        if (fileType !== null && fileContent !== null) {
          if (this.checkDataValidity(fileContent)) {
            if (fileType === 'graphml')
              this.fixGraphMLTurtleData(fileContent)
            else if (fileType === 'json')
              this.fixJsonData(fileContent)
            else if (fileType === 'turtle')
              this.fixGraphMLTurtleData(fileContent, true)
            if (graphNo === 1)
              this.graph1 = this.loadData(fileContent)
            else if (graphNo === 2)
              this.graph2 = this.loadData(fileContent)
            if (fileType === 'graphml' || fileType === 'turtle') {
              if (graphNo === 1)
                this.applyCoordinates(this.graph1)
              else if (graphNo === 2)
                this.applyCoordinates(this.graph2)
            }
            if (!isEmpty(this.graph1) && isEmpty(this.graph2))
              this.renderGraph(this.graph1)
            else if (isEmpty(this.graph1) && !isEmpty(this.graph2))
              this.renderGraph(this.graph2)
            else if (!isEmpty(this.graph1) && !isEmpty(this.graph2))
              this.renderGraph(this.graph1, this.graph2)
          } else {
            this.$swal.fire({ icon: 'error', titleText: 'Dateiinhalt nicht unterstützt', text: 'Der Inhalt der Datei entspricht nicht dem erwartetem Inhalt und kann deshalb nicht geladen werden. Bitte überprüfen Sie die Datei.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
          }
        }
      }
    },
    async loadKnowledgeMap (selectedKnowledgeMap) { // TODO this is a directed graph...
      try {
        this.killSigma(1)
        this.file = null
        const knowledgeMap = await kmAPI.getWholeMap(selectedKnowledgeMap, 'application/ld+json')
        const fileContent = await convertJsonldFile(knowledgeMap)
        this.fixGraphMLTurtleData(fileContent, false)
        this.graph1 = this.loadData(fileContent)
        this.applyCoordinates(this.graph1)
        if (!isEmpty(this.graph1) && isEmpty(this.graph2))
          this.renderGraph(this.graph1)
        else if (isEmpty(this.graph1) && !isEmpty(this.graph2))
          this.renderGraph(this.graph2)
        else if (!isEmpty(this.graph1) && !isEmpty(this.graph2))
          this.renderGraph(this.graph1, this.graph2)
      } catch (e) {
        console.log(e)
        this.$swal.fire({ icon: 'error', titleText: 'Fehler beim abrufen der Daten', text: 'Der ausgewählte Datensatz kann leider nicht angezeigt werden. Bitte wählen sie einen anderen Datensatz aus und berichten sie den Fehler an den Entwickler der Anwendung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      }
    },
    checkDataValidity (data) {
      return !isEmpty(data.nodes) && !isEmpty(data.edges)
    },
    fixJsonData (data) {
      data.nodes.forEach((node) => {
        if (node.attributes.area !== undefined) {
          node.group = node.attributes.area
          delete node.attributes.area
        }
      })
      data.edges.forEach((edge) => {
        if (edge.attributes.area !== undefined) {
          edge.group = edge.attributes.area
          delete edge.attributes.area
        }
      })
    },
    fixGraphMLTurtleData (data, turtle = false) {
      data.nodes.forEach((node) => {
        node.label = node.name
        delete node.name
        if (turtle)
          node.color = this.colorPalette[0]
      })
      if (turtle)
        data.edges.forEach((edge) => {
          edge.color = this.colorPalette[3]
        })
    },
    loadData (data) {
      data.nodes.forEach((node) => {
        if (node.size)
          node.size = node.size * 0.4
        else
          node.size = 5
      })
      const graph = new Graph()
      data.nodes.forEach((node) => {
        graph.mergeNode(node.id, node)
      })
      data.edges.forEach((edge) => {
        if (!isEmpty(edge.id))
          graph.addEdgeWithKey(edge.id, edge.source, edge.target, { color: edge.color, ...edge })
        else
          graph.mergeEdgeWithKey(edge.source + edge.target, edge.source, edge.target, { color: edge.color, ...edge })
      })
      return graph
    },
    applyCoordinates (graph) {
      randomLayout.assign(graph, { scale: 400, center: 0 })
    },
    applyLayout (graph) {
      const sensibleSettings = forceAtlas2.inferSettings(graph)
      const newLayout = forceAtlas2(graph, { iterations: 300, settings: sensibleSettings })
      animateNodes(graph, newLayout, { duration: 2000 })
    },
    renderGraph (graph1, graph2 = null) {
      const nodeReducer = (key, data) => {
        if (this.highlightedNodes.size === 0 && this.highlightedEdges.size === 0)
          return data
        else if (this.highlightedNodes.has(key)) {
          this.sidebarNodeSet.add({ name: data.label, group: data.group })
          return data
        } else
          return { ...data, label: '', color: chroma(data.color).alpha(0.6).css() }
      }

      const edgeReducer = (key, data) => {
        if (this.highlightedNodes.size === 0 && this.highlightedEdges.size === 0)
          return data
        else if (this.highlightedEdges.has(key)) {
          return data
        } else
          return { ...data, label: '', color: chroma(data.color).alpha(0.25).css() }
      }

      this.renderedGraph = new Graph()
      this.renderedGraph.import(graph1.export())
      if (!isEmpty(graph2)) {
        this.renderedGraph.import(graph2.export(), true)
      }

      const container = document.getElementById('sigmaGraphContainer')
      this.sigma = new Sigma(this.renderedGraph, container, {
        nodeReducer,
        edgeReducer,
        zIndex: true
      })

      this.applyLayout(this.renderedGraph)
      this.sigma.on('clickNode', this.clickNodeFunction)
      this.sigma.on('clickStage', () => this.clearHighlighting())
      let draggedNode = null
      let dragging = false
      const camera = this.sigma.getCamera()
      const captor = this.sigma.getMouseCaptor()

      this.sigma.on('downNode', (e) => {
        if (!this.sigma.getCustomBBox()) this.sigma.setCustomBBox(this.sigma.getBBox())
        dragging = true
        draggedNode = e.node
        camera.disable()
      })

      captor.on('mouseup', () => {
        dragging = false
        draggedNode = null
        camera.enable()
      })

      captor.on('mousemove', (e) => {
        if (!dragging || !draggedNode) return
        const pos = this.sigma.viewportToGraph(e) // Get new position of node
        this.renderedGraph.setNodeAttribute(draggedNode, 'x', pos.x)
        this.renderedGraph.setNodeAttribute(draggedNode, 'y', pos.y)
      })
    },
    clickNodeFunction (el) {
      el.event.preventDefault()
      // this.highlightCluster(node)
      if (this.isClusteredGraph)
        this.highlightConnectedClusters(el.node)
      else
        this.highlightConnectedNodes(el.node)

      if (this.highlightedNodes.size !== 0)
        this.sidebarVisible = true

      this.sigma.refresh()
    },
    highlightCluster (node) {
      this.clearHighlighting()

      const nodeGroup = this.renderedGraph.getNodeAttributes(node).group

      this.renderedGraph.forEachNode((node, attributes) => {
        if (attributes.group === nodeGroup || attributes.group === 'MultiMODEL')
          this.highlightedNodes.add(node)
      })

      this.renderedGraph.forEachEdge((edge, attributes) => {
        if (attributes.group === nodeGroup)
          this.highlightedEdges.add(edge)
      })

      const localEdges = new Set(this.renderedGraph.edges(node))
      localEdges.forEach((edge) => this.highlightedEdges.add(edge))
    },
    highlightConnectedClusters (node) {
      this.clearHighlighting()

      const connectedGroups = new Set()

      this.renderedGraph.forEachEdge((_, attributes, source, target) => {
        if (source === node || target === node)
          connectedGroups.add(attributes.group)
      })
      connectedGroups.add(this.renderedGraph.getNodeAttributes(node).group)

      this.renderedGraph.forEachNode((node, attributes) => {
        if (connectedGroups.has(attributes.group) || attributes.group === 'MultiMODEL')
          this.highlightedNodes.add(node)
      })
      this.renderedGraph.forEachEdge((edge, attributes) => {
        if (connectedGroups.has(attributes.group))
          this.highlightedEdges.add(edge)
      })
    },
    highlightConnectedNodes (node) {
      this.clearHighlighting()

      this.renderedGraph.forEachEdge((key, _, source, target) => {
        if (source === node || target === node) {
          this.highlightedNodes.add(source)
          this.highlightedNodes.add(target)
          this.highlightedEdges.add(key)
        }
      })
    },
    highlightIntDiff (difference = false, reverse = false, clear = true) {
      if (clear)
        this.clearHighlighting()

      let graph1 = this.graph1
      let graph2 = this.graph2
      if (reverse) {
        graph1 = this.graph2
        graph2 = this.graph1
      }

      graph1.forEachNode((key) => {
        if ((difference) ? !graph2.hasNode(key) : graph2.hasNode(key)) {
          this.highlightedNodes.add(key)
        }
      })

      graph1.forEachEdge((key) => {
        if ((difference) ? !graph2.hasEdge(key) : graph2.hasEdge(key))
          this.highlightedEdges.add(key)
      })

      this.sigma.refresh()
    },
    highlightSymetricalDifference () {
      this.highlightIntDiff(true, false, true)
      this.highlightIntDiff(true, true, false)
    },
    clearHighlighting () {
      this.highlightedNodes.clear()
      this.highlightedEdges.clear()
      this.sidebarVisible = false
      this.sidebarNodeSet = new Set()
      this.sigma.refresh()
    }
  }
}
</script>

<style scoped>
  #sigmaGraphContainer  {
    width:100%;
    height:100%;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
  }
  #sigmaParentContainer button {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  #verticalLine {
    max-height: 2.5rem;
  }
  hr {
    margin-top: 0;
  }
</style>

<style>
  .b-sidebar-body > h5 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
</style>
