<template>
  <ValidationObserver ref="formObserver">
  <b-form @submit.prevent="onSubmit">
    <b-container fluid>

      <b-row>
        <b-col>
          <ValidationProvider name="Zu modellierender Text" :rules="`${file === null ? 'required|' : ''}min:350`" v-slot="{passed, errors, changed}">
            <b-form-group :description="'Länge: ' + text.length + ' Zeichen'">
              <template v-slot:label>
                Zu modellierender Text: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Hier können Sie einen Text per Copy&Paste einfügen, der modelliert werden soll'"/>
              </template>
              <b-form-textarea v-model="text" placeholder="Ihr Text..." rows="6" :state="changed && !passed ? false : null"></b-form-textarea>
              <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
            </b-form-group>
          </ValidationProvider>

        </b-col>

        <b-col cols="1" align="center">
          <verticalLine/>
        </b-col>

        <b-col>
          <ValidationProvider name="Zu modellierende Datei" :rules="`${text.length === 0 ? 'required|' : ''}ext:pdf,txt|size:10000`" v-slot="{passed, errors, changed}">
          <b-form-group>
            <template v-slot:label>
              Zu modellierende Datei: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Alternativ können sie eine Datei auswählen, welche modelliert werden soll. Aktuell sind PDF und TXT Dateien möglich.'"/>
            </template>
            <b-form-file v-model="file" accept="text/plain,application/pdf" placeholder="Eine Datei auswählen..." drop-placeholder="Datei hier hin ziehen..." :state="changed && !passed ? false : null"/>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
          <div v-if="file">
            <span><strong>Größe:</strong> {{fileSizeString}}</span><br/>
            <span><strong>Zuletzt bearbeitet:</strong> {{(new Date(file.lastModified)).toUTCString()}}</span>
          </div>
          </ValidationProvider>
        </b-col>
      </b-row>

      <hr>

      <b-row>
        <b-col>
          <h4>T-Mitocar Optionen</h4>
          <b-form-group label-cols="2">
            <template v-slot:label>
              Textsprache: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Sprache des Textes. Begriffe in anderen als der angegebenen Sprache sollten manuell übersetzt werden.'"/>
            </template>
            <b-form-select v-model="language" required>
              <b-form-select-option value="en">Englisch</b-form-select-option>
              <b-form-select-option value="de">Deutsch</b-form-select-option>
            </b-form-select>
          </b-form-group>
          <b-form-group label-cols="2">
            <template v-slot:label>
              Expertenmodus: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Erweitert die Ausgabeformate um weitere, technische Formate'"/>
            </template>
            <b-form-checkbox v-model="expertMode"/>
          </b-form-group>
          <b-form-group label-cols="2">
            <template v-slot:label>
              Ausgabeformat: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Wählen Sie ein Format, in welchem Sie das Ergebnis erhalten wollen. Der Expertenmodus schaltet weitere Formate frei.'"/>
            </template>
            <b-form-select v-model="outputFormat" :options="outputFormatOptions" required>
            </b-form-select>
          </b-form-group>
          <b-form-group label-cols="2">
            <template v-slot:label>
              Wordspec: <font-awesome-icon icon="question-circle" style="color: grey;" v-b-popover.hover="'Die Wortspezifität unterdrückt wenig wissensspezifisches, stilistisches und förmliches gegenüber dem relevanten Wissen. Kleinere Werte unterdrücken stärker als größere Werte. Hat direkten Einfluss auf die Größe des Graphen.'"/>
            </template>
            <b-input-group v-bind:append="wordspec.toString()" class="mb-3">
              <b-form-input type="range" min="0" max="5000" step="1" v-model="wordspec" required/>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>

      <hr>

      <b-row>
        <b-col>
          <b-button type="submit" variant="primary" :disabled="!isFormValid">Modell generieren</b-button>
          <b-button v-if="resultBlob !== null" @click="showModal = true" variant="secondary" class="float-right">Erzeugtes Modell erneut anzeigen</b-button>
          <b-button v-if="resultBlob !== null" @click="saveModelToTripleStore" variant="info" class="float-right">Als Fachlandkarte speichern</b-button>
        </b-col>
      </b-row>

    </b-container>
  </b-form>
  <b-modal v-model="showModal" title="T-Mitocar Modell" centered size="xl" ok-only ok-title="Schließen">
    <b-container fluid>
      <b-row align-v="center">
        <b-col>
          <div class="text-center">
            <b-spinner v-if="resultBlob === null" variant="info"/>
            <img v-else-if="!isEmpty(imgSrc)" :src="imgSrc" v-b-tooltip.hover title='Um das Modell zu speichern bitte rechtsklicken "Grafik speichern unter..." auswählen' />
            <b-button v-else variant="info" @click="downloadFile()">Datei herunterladen</b-button>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
  </ValidationObserver>
</template>

<script>

import ky from 'ky'
import isEmpty from 'lodash/isEmpty'
import { saveAs } from 'file-saver'
import verticalLine from '@/components/verticalLine'
import { isPDFFile, isTextFile } from '@/common'

export default {
  name: 'tmitocarForm',
  components: { verticalLine },
  data: () => {
    return {
      text: '',
      expertMode: false,
      file: null,
      language: 'en',
      outputFormat: 'png',
      wordspec: 512,
      resultBlob: null,
      imgSrc: null,
      showModal: false,
      isFormValid: false
    }
  },
  async updated () {
    this.isFormValid = (await this.$refs.formObserver.validate())
  },
  computed: {
    outputFormatOptions () {
      const normalUser = [
        { value: 'png', text: 'Bild' },
        { value: 'pdf', text: 'PDF-Grafik' },
        { value: 'xls', text: 'Tabelle' }
      ]
      const expertUser = [
        { value: 'png', text: 'Bild PNG' },
        { value: 'svg', text: 'Bild SVG' },
        { value: 'pdf', text: 'PDF-Grafik' },
        { value: 'xls', text: 'Tabelle XLS' },
        { value: 'csv', text: 'Tabelle CSV' },
        { value: 'dot', text: 'Grafikformat DOT' },
        { value: 'txt', text: 'Text' },
        { value: 'json', text: 'JSON' },
        { value: 'graphml', text: 'GraphML' }
      ]
      if (this.expertMode)
        return expertUser
      else
        return normalUser
    },
    fileSizeString () {
      let size = this.file.size
      if (size < 1000)
        return size.toFixed(2) + ' Byte'
      else {
        size /= 1024
        if (size < 1000)
          return size.toFixed(2) + ' KiByte'
        else {
          size /= 1024
          return size.toFixed(2) + ' MiByte'
        }
      }
    }
  },
  watch: {
    file: async function (newVal) {
      if (newVal !== null) {
        if (isTextFile(newVal))
          this.text = await newVal.text()
        else if (isPDFFile(newVal))
          this.text = ''
        else {
          this.$swal.fire({ icon: 'error', titleText: 'Format nicht unterstützt', text: 'Das Dateiformat wird nicht unterstützt. Bitte wählen Sie nur valide .pdf oder .txt Dateien aus.' })
          this.file = null
          this.text = ''
        }
      }
      this.isFormValid = (await this.$refs.formObserver.validate())
    },
    async text (newVal) {
      if (!isEmpty(newVal)) {
        this.isFormValid = (await this.$refs.formObserver.validate())
        this.file = null
      }
    }
  },
  methods: {
    isEmpty,
    async onSubmit () {
      this.$swal.fire({ icon: 'info', titleText: 'Generiere Wissenslandkarte', text: 'Unsere umfassende Textbereinigung braucht einen Moment. Bitte seien Sie geduldig.', allowOutsideClick: false, didOpen: () => this.$swal.showLoading() })
      this.resultBlob = null
      this.imgSrc = null
      const formData = new FormData()
      if (this.text.length === 0)
        formData.append('textfile', this.file)
      else
        formData.append('text', this.text)
      formData.append('language', this.language)
      formData.append('wordspec', this.wordspec)
      formData.append('format', this.outputFormat)
      let resultBlob
      try {
        resultBlob = await ky.post('/postToTMitocar', {
          body: formData,
          timeout: false
        }).blob()
      } catch (error) {
        if (error.name === 'HTTPError')
          this.$swal.fire({ icon: 'error', titleText: 'Etwas ist schief gegangen', text: 'Leider ist bei Ihrer Anfrage etwas schief gegangen. Bitte berichten Sie dies dem Programmentwickler.' })
        console.error(error)
        return
      }
      if ((await resultBlob.text()) === 'NU') {
        this.showModal = false
        this.$swal.fire({ icon: 'error', titleText: 'Fehler bei Authentifizierung', text: 'T-Mitocar konnte Sie nicht authenfizieren. Wahrscheinlich ist der Inhalt Ihrer Schlüsseldatei falsch.' })
        return false
      }
      this.resultBlob = resultBlob
      if (resultBlob.type === 'image/png' || resultBlob.type === 'image/svg+xml')
        this.imgSrc = window.URL.createObjectURL(this.resultBlob)
      this.$swal.close()
      this.showModal = true
    },
    downloadFile () {
      saveAs(this.resultBlob, (new Date()).toUTCString() + '.' + this.outputFormat)
    },
    async saveModelToTripleStore () {
      this.$swal.fire({ icon: 'info', titleText: 'Bereite Wissenslandkarte vor...', didOpen: () => this.$swal.showLoading() })

      const formData = new FormData()
      if (this.text.length < 1)
        formData.append('textfile', this.file)
      else
        formData.append('text', this.text)
      formData.append('language', this.language)
      formData.append('wordspec', this.wordspec)
      formData.append('format', 'csv')
      const csvBlob = await ky.post('/postToTMitocar', {
        body: formData,
        timeout: false
      }).blob()

      const csvFile = new File([csvBlob], 'Wissenslandkarte.csv')

      let file = this.file
      if (file === null) {
        file = new File([this.text], 'text.txt', { type: 'text/plain' })
      } else {
        const formData = new FormData()
        formData.append('textfile', this.file)
        formData.append('language', this.language)

        const text = await ky.post('/getTextFromPDF', {
          body: formData,
          timeout: false
        }).text()
        file = new File([text], 'text.txt', { type: 'text/plain' })
      }

      this.$router.push({ name: 'dskgcreation', params: { sourceFile: file, csvFile, textLanguage: this.language } })
      this.$swal.close()
    }
  }
}

</script>

<style scoped>
  img {
    width: 100%
  }

  span.spinner-border {
    width: 6rem;
    height: 6rem;
  }

  .col > h4 {
    width: 14rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgrey;
  }

  .col > button {
    margin-left: 0.5rem;
  }
  .col > button:first-child {
    margin-left: 0rem;
  }

  hr {
    margin-top: 0;
  }

  hr:first-of-type {
    margin-top: 1rem;
  }

  h4.offline {
    color: #BB0000;
  }
  .validationReport {
    color: #dc3545;
  }
</style>
