<template>
  <b-tab title="Zentrale Terme" :disabled="disabled">
    <p>Ist der Term ein zentraler Term der Karte?</p>
    <b-form>
      <b-form-checkbox v-model="centralTerm">
        {{(centralTerm) ? 'Ja' : 'Nein'}}
      </b-form-checkbox>
    </b-form>
  </b-tab>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import kmAPI from '@/api/knowledgeMap'
import 'vue-json-pretty/lib/styles.css'

export default {
  name: 'centralTermsTab',
  props: {
    subjectIRI: { type: String, default: undefined },
    selectedKnowledgeMap: { type: String, default: '' },
    disabled: { type: Boolean, default: () => { return false }, required: true }
  },
  data: () => {
    return {
      centralTerm: false
    }
  },
  asyncComputed: {
    async centralTerms () {
      if (!isEmpty(this.selectedKnowledgeMap))
        return kmAPI.getCentralTerms(this.selectedKnowledgeMap)
    },
    async isCentralTerm () {
      if (!isEmpty(this.centralTerms) && !isEmpty(this.subjectIRI)) {
        const isCentralTerm = this.centralTerms.includes(this.subjectIRI)
        return isCentralTerm
      } else
        return false
    }
  },
  watch: {
    isCentralTerm (newVal) {
      if (typeof newVal === 'boolean')
        this.centralTerm = newVal
    },
    centralTerm () {
      if (this.isCentralTerm !== null && this.centralTerm !== this.isCentralTerm) {
        this.$emit('dataChanged', true)
      } else {
        this.$emit('dataChanged', false)
      }
    }
  },
  methods: {
    isEmpty,
    async save () {
      if (this.isCentralTerm !== null && this.centralTerm !== this.isCentralTerm)
        return kmAPI.alterCentralTerm(this.selectedKnowledgeMap, this.subjectIRI, this.isCentralTerm)
    }
  }
}
</script>

<style scoped>
</style>
