<template>
  <b-tab title="Weiterführendes Material" :disabled="disabled">
    <ValidationObserver ref="formObserver">
    <b-form>
      <div v-if="!isEmpty(material)">
      <b-card v-for="(el, index) in material" :key="index">
        <ValidationProvider name="Titel" rules="required|min:5" immediate v-slot="{passed, errors, changed}" :vid="index + 'title'">
          <b-form-group label="Titel*:" label-cols="2" description="Ein aussagekräftiger Titel zum Materials">
            <b-form-input v-model="el.title" placeholder="Titel" :state="getValidationState(el.title, changed, passed)"/>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider name="Format" rules="required" v-slot="{passed, errors, changed}" :vid="index + 'format'">
          <b-form-group label="Format*:" label-cols="2" description="Welcher Art ist das Material?">
            <multiSelect :value="el.format" @input="(data) => setFormat(el, data) " :state="getValidationState(el.format, changed, passed)"/>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
        </ValidationProvider>
        <ValidationProvider name="Link" rules="required|url" v-slot="{passed, errors, changed}" :vid="index + 'link'">
          <b-form-group label="Link*:" label-cols="2" description="Eine URL, die direkt und ohne Zugangsbeschänkung zum Material führt.">
            <b-input-group>
              <b-form-input type="url" v-model="el.link" placeholder="https://example.org/resource" :state="getValidationState(el.link, changed, passed)"/>
              <template #append v-if="!isEmpty(el.link) && el.link.startsWith('http')">
                <b-button :href="el.link" target="_blank" v-b-tooltip.hover title="In neuem Tab öffnen"><font-awesome-icon icon="external-link-alt"/></b-button>
              </template>
            </b-input-group>
            <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
          </b-form-group>
        </ValidationProvider>
        <b-form-group label="Zeitaufwand:" description="Zeit, die zum durcharbeiten des Materials nötig ist. Bspw. die Lese- oder Anschauzeit. H:M:S" label-cols="2">
          <b-form-timepicker v-model="el.time" v-bind="timeLabels['de'] || {}" show-seconds locale="de" placeholder="Kein Zeitaufwand ausgewählt" no-close-button reset-button/>
        </b-form-group>
        <div v-if="isText(el.format)">
          <b-form-group label="Textkomplexität:" description="Wie komplex ist der Text für die Zielgruppe?" label-cols="2">
            <b-form-select v-model="el.textComplexity">
              <b-form-select-option value="" disabled>Bitte eine Option auswählen</b-form-select-option>
              <b-form-select-option value="easy">Einfach</b-form-select-option>
              <b-form-select-option value="medium">Mittel</b-form-select-option>
              <b-form-select-option value="hard">Komplex</b-form-select-option>
            </b-form-select>
          </b-form-group>
          <ValidationProvider name="Anzahl Worte" rules="integer|min_value:1" v-slot="{passed, changed, errors}" :vid="index + 'amountOfWords'">
            <b-form-group label="Anzahl Worte:" description="Wie viele Worte hat der Text?" label-cols="2">
              <b-form-input type="number" v-model="el.amountOfWords" placeholder="4563" :state="getNumberValidationState(el.amountOfWords, changed, passed)"/>
              <small v-if="!isEmpty(errors)" tabindex="-1" class="validationReport" >{{ errors[0] }}</small>
            </b-form-group>
          </ValidationProvider>
        </div>
      </b-card>
      </div>
      <b-row align="center">
        <b-col>
          <b-button id="plusbutton" @click.prevent="newMaterial()" v-b-tooltip.hover title="Material hinzufügen" align-h="center"><font-awesome-icon icon="plus"/></b-button>
        </b-col>
      </b-row>
    </b-form>
    </ValidationObserver>
  </b-tab>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import isEqual from 'lodash/isEqual'
import assign from 'lodash/assign'
import { convertTimeFormatToHTML, convertTimeFormatToPTMS } from '@/common'
import kmAPI from '@/api/knowledgeMap'
import 'vue-json-pretty/lib/styles.css'
import multiSelect from '@/components/multiSelect'

export default {
  name: 'materialTab',
  components: { multiSelect },
  props: {
    subjectIRI: { type: String, default: undefined },
    selectedKnowledgeMap: { type: String, default: '' },
    disabled: { type: Boolean, default: () => { return false }, required: true }
  },
  data: () => {
    return {
      material: [],
      isFormValid: true,
      timeLabels: {
        de: {
          labelHours: 'Stunden',
          labelMinutes: 'Minuten',
          labelSeconds: 'Sekunden',
          labelIncrement: 'Erhöhen',
          labelDecrement: 'Verringern',
          labelSelected: 'Ausgewählte Zeit',
          labelNoTimeSelected: 'Keine Zeit ausgewählt',
          labelCloseButton: 'Schließen',
          labelResetButton: 'Zurücksetzen'
        }
      }
    }
  },
  async updated () {
    this.isFormValid = (await this.$refs.formObserver.validate())
  },
  asyncComputed: {
    async currentMaterial () {
      if (!isEmpty(this.selectedKnowledgeMap) && !isEmpty(this.subjectIRI)) {
        let material = await kmAPI.getcontinuativeMaterial(this.selectedKnowledgeMap, this.subjectIRI)
        if (!isEmpty(material) && !isEmpty(material['@graph']) && !isEmpty(material['@graph'][0])) {
          material = material['@graph'].map(el => {
            el.format = el.format.map(el => el.toLowerCase())
            if (isEmpty(el.time)) {
              if (!isEmpty(el.watchTime)) {
                el.time = el.watchTime
                delete el.watchTime
              } else if (!isEmpty(el.processingTime)) {
                el.time = el.processingTime
                delete el.processingTime
              } else
                el.time = ''
            }
            if (!isEmpty(el.time))
              el.time = convertTimeFormatToHTML(el.time)
            if (el.amountOfWords !== null && el.amountOfWords !== '' && el.amountOfWords !== undefined)
              el.amountOfWords = el.amountOfWords.toString()
            return assign({ title: '', link: '', time: '', format: [], textComplexity: '', amountOfWords: '' }, el)
          })
          this.material = material
          return JSON.parse(JSON.stringify(material))
        } else
          return []
      } else
        return []
    }
  },
  watch: {
    material: {
      async handler (newVal, oldVal) {
        if (!isEmpty(newVal) && this.currentMaterial !== null) {
          if (!isEqual(newVal, this.currentMaterial)) {
            this.$emit('dataChanged', true)
          } else
            this.$emit('dataChanged', false)
          this.isFormValid = (await this.$refs.formObserver.validate())
        }
      },
      deep: true
    },
    isFormValid (newVal, oldVal) {
      this.$emit('formValid', newVal)
    }
  },
  methods: {
    isEmpty,
    setFormat (el, data) {
      el.format = data
    },
    newMaterial () {
      this.material.push({ title: '', link: '', time: '', format: [], textComplexity: '', amountOfWords: '' })
    },
    isText (elements) {
      return elements.includes('pdf') || elements.includes('website') || elements.includes('news article') || elements.includes('book') || elements.includes('monography')
    },
    getValidationState (input, changed, valid) {
      if (isEmpty(input))
        return valid
      else
        return changed ? valid : null
    },
    getNumberValidationState (input, changed, valid) {
      if (input === null || input === '')
        return null
      else
        return changed ? valid : null
    },
    cleanData (data) {
      return data.map(el => {
        if (isEmpty(el.time) || el.time === '00:00:00')
          delete el.time
        else
          el.time = convertTimeFormatToPTMS(el.time)
        if (isEmpty(el.textComplexity))
          delete el.textComplexity
        if (el.amountOfWords === null || el.amountOfWords === '' || el.amountOfWords === undefined)
          delete el.amountOfWords
        else
          el.amountOfWords = parseInt(el.amountOfWords)
        return el
      })
    },
    async save () {
      // 1. filter for changed data
      if (this.isFormValid) {
        let changedMaterial = this.material.map((el, index) => {
          if (this.currentMaterial.length > index) {
            if (!isEqual(el, this.currentMaterial[index]))
              return el
          } else // new element
            return el
            // TODO no return if initial if fails
        }).filter((el) => !isEmpty(el))
        // 2. clean & convert data
        changedMaterial = this.cleanData(changedMaterial)
        // 3. add/update blank nodes
        const promises = changedMaterial.map((el) => {
          if (isEmpty(el['@id']))
            return kmAPI.addMaterial(this.selectedKnowledgeMap, this.subjectIRI, el)
          else {
            const original = this.currentMaterial.find(tmp => tmp['@id'] === el['@id'])
            return kmAPI.alterMaterial(this.selectedKnowledgeMap, this.subjectIRI, el, original)
          }
        })
        return Promise.all(promises)
      } else {
        throw new Error('Form not Valid')
      }
    }
  }
}
</script>

<style scoped>
  .card {
    margin-bottom: 1rem !important;
  }
  .card-body {
    padding-bottom: 0;
  }
  #plusbutton {
    margin-bottom: 1rem;
  }
  .validationReport {
    color: #dc3545;
  }
</style>
