<template>
  <b-form-tags v-model="selected" no-outer-focus :class="{'mb-2': true, validationFailed: (state === null) ? false : !state, valid: (state === null) ? false : state }">
    <template v-slot="{ tags, disabled, addTag, removeTag }">
      <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
        <li v-for="tag in tags" :key="tag" class="list-inline-item">
          <b-form-tag @remove="removeTag(tag)" :title="tag" :disabled="disabled" variant="info">
            {{ tag }}
          </b-form-tag>
        </li>
      </ul>

      <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
        <b-dropdown-item-button v-for="option in availableOptions" :key="option" @click="onOptionClick({ option, addTag })">
          {{ option }}
        </b-dropdown-item-button>
        <b-dropdown-text v-if="availableOptions.length === 0">
          There are no tags available to select
        </b-dropdown-text>
      </b-dropdown>
    </template>
  </b-form-tags>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import isEqual from 'lodash/isEqual'

export default {
  name: 'multiSelect',
  props: {
    state: { },
    value: { type: Array, default: () => { return [] } }
  },
  data () {
    return {
      options: ['video', 'pdf', 'website', 'audio', 'newsletter', 'dossier', 'news article', 'mooc', 'book', 'monography', 'video playlist'],
      selected: []
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (newVal, oldVal) {
        if (!isEmpty(newVal))
          this.selected = newVal.map((el) => el.toLowerCase())
      }
    },
    selected: {
      handler (newVal, oldVal) {
        if (!isEqual(newVal, oldVal))
          this.$emit('input', newVal)
      },
      deep: true
    }
  },
  computed: {
    availableOptions () {
      const options = this.options.filter(opt => this.selected.indexOf(opt) === -1)
      return options
    }
  },
  methods: {
    onOptionClick ({ option, addTag }) {
      addTag(option)
    }
  }
}
</script>

<style scoped>
  .validationFailed {
      border-color: red;
  }
  .valid {
      border-color: green;
  }
</style>
