<template>
  <div @showModal="prepareAndOpenModal">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
    <Ontodia class="ontodiaContainer" v-show="!isEmpty(dataToShow)" :dataToShow="dataToShow" :dynamicModal="dynamicModal" :style="ontodiaHeightStyle"/>
    <ontodiaModal v-if="dynamicModal" v-model="showModal" :subjectIRI="subjectIRI" :graph="dataToShow" :selectedKnowledgeMap="selectedKnowledgeMap" :allowEdit="allowEdit" @alteredData="$emit('reload')"/>
  </div>
</template>

<script>
import ontodia from '@/components/ontodia.js'
import ontodiaModal from '@/components/ontodiaModal.vue'
import isEmpty from 'lodash/isEmpty'
import { timeout } from '@/common'
import kmAPI from '@/api/knowledgeMap'

export default {
  name: 'ontodia',
  props: {
    dataToShow: { default: '' }, // turtle String
    dynamicModal: { type: Boolean },
    selectedKnowledgeMap: { type: String, default: '' }
  },
  components: {
    Ontodia: ontodia,
    ontodiaModal
  },
  data: () => {
    return {
      showModal: false,
      subjectIRI: undefined,
      allowEdit: false,
      ontodiaHeightStyle: { height: '40rem' }
    }
  },
  mounted () {
    const navbarHeight = document.querySelector('.navbar').clientHeight
    const windowHeight = window.innerHeight
    this.ontodiaHeightStyle = { height: (windowHeight - navbarHeight - 230) + 'px' }
  },
  async created () {
    if (this.dynamicModal) {
      if (!(await kmAPI.hasTopic(this.selectedKnowledgeMap))) {
        let name = await this.$swal.fire({ type: 'warning', title: 'Die Fachlandkarte hat kein Thema', text: 'Ein Thema fasst alle Knoten der Fachlandkarte zusammen und zeichnet bspw. zentrale Begrifflichkeiten der Karte aus. Bitte erstellen Sie ein Thema für diese Fachlandkarte. Nutzen Sie dazu die deutsche Sprache. Ohne ein Thema können Sie die Fachlandkarte nicht bearbeiten!', input: 'text', confirmButtonText: 'Speichern', showCancelButton: true, cancelButtonText: 'Abbrechen', reverseButtons: true })
        name = name.value
        console.log(name)
        if (!isEmpty(name)) {
          await kmAPI.createTopic(this.selectedKnowledgeMap, name.trim())
          await timeout(1500)
          this.allowEdit = true
          this.$emit('noEditRights', false)
          this.$emit('reload')
        } else {
          this.$emit('noEditRights', true)
        }
      } else {
        this.allowEdit = true
        this.$emit('noEditRights', false)
      }
    }
  },
  watch: {
    showModal (newVal, oldVal) {
      if (newVal === false) {
        this.subjectIRI = undefined
      }
    }
  },
  methods: {
    isEmpty,
    prepareAndOpenModal (e) {
      if (!isEmpty(e.detail)) {
        const subjectIRI = e.detail
        // if (!subjectIRI.includes('/ontology/') && !subjectIRI.startsWith('urn:') && !subjectIRI.includes('/_:')) {
        if (subjectIRI.startsWith('http://halle/domainmodel/')) {
          this.subjectIRI = subjectIRI
          this.showModal = true
        }
      }
    }
  }
}
</script>

<style scoped>
  .ontodiaContainer {
    border-style: solid;
    border-color: rgba(0,0,0,.25);
    border-width: 2px;
    border-radius: 4px;
  }
</style>
