<template>
  <b-modal v-model="showModal" centered size="xl" ok-title="Speichern" :ok-disabled="disableSaveButton" cancel-title="Abbrechen" @ok.prevent="handleOK">
    <template #modal-title>
      Knoten "{{nodeName}}" editieren
    </template>
    <b-container fluid>
      <b-row align-v="center">
        <b-col>
          <b-card no-body>
            <b-tabs content-class="mt-3" card>
              <centralTermsTab ref="centralTermsTab" :subjectIRI="subjectIRI" :selectedKnowledgeMap="selectedKnowledgeMap" @dataChanged="(val) => dataChanged.centralTerms = val" :disabled="!allowEdit"/>
              <materialTab ref="materialTab" :subjectIRI="subjectIRI" :selectedKnowledgeMap="selectedKnowledgeMap" @dataChanged="(val) => dataChanged.material = val" :disabled="!allowEdit" @formValid="(val) => formsValid.centralTerms = val"/>
              <b-tab title="JSON-LD">
                <p>Diese Ansicht zeigt alle Informationen zum aktuellen Knoten im Format <a href="https://de.wikipedia.org/wiki/JSON-LD" target="_blank">JSON-LD</a> an.</p>
                <vue-json-pretty :data="nodeInformation" />
              </b-tab>
            </b-tabs>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </b-modal>
</template>

<script>
import isEmpty from 'lodash/isEmpty'
import first from 'lodash/first'
import { fromRDF, compact } from 'jsonld'
import { parseTurtle, writeRDF, timeout } from '@/common'
import VueJsonPretty from 'vue-json-pretty'
import centralTermsTab from '@/components/centralTermsTab'
import materialTab from '@/components/materialTab'
import 'vue-json-pretty/lib/styles.css'

export default {
  name: 'ontodiaModal',
  props: {
    value: { type: Boolean, default: () => { return false }, required: true },
    subjectIRI: { type: String, default: undefined },
    graph: [String, Object],
    selectedKnowledgeMap: { type: String, default: '' },
    allowEdit: { type: Boolean, default: () => { return false }, required: true },
    selectedNodeName: { type: String, default: undefined }
  },
  components: { VueJsonPretty, centralTermsTab, materialTab },
  data: () => {
    return {
      showModal: false,
      dataChangedDefault: { centralTerms: false, material: false },
      dataChanged: { centralTerms: false, material: false }, // NOTE somehow it doesn't work with Array[Boolean]
      formsValid: { centralTerms: true },
      formsValidDefault: { centralTerms: true }
    }
  },
  asyncComputed: {
    async jsonldGraph () {
      if (!isEmpty(this.graph)) {
        if (typeof this.graph === 'object') {
          return compact(this.graph, {})
        } else
          return compact(await fromRDF(await writeRDF(await parseTurtle(this.graph))), { label: 'http://www.w3.org/2000/01/rdf-schema#label' })
      } else
        return { '@context': {}, '@graph': [] }
    },
    async nodeInformation () {
      if (!isEmpty(this.jsonldGraph) && !isEmpty(this.subjectIRI)) {
        return first(this.jsonldGraph['@graph'].filter((node) => node['@id'] === this.subjectIRI))
      } else
        return {}
    },
    async nodeName () {
      if (!isEmpty(this.selectedNodeName))
        return this.selectedNodeName
      else if (!isEmpty(this.nodeInformation) && !isEmpty(this.nodeInformation.label)) {
        const label = this.nodeInformation.label
        return (Array.isArray(label)) ? first(label)['@value'] : label['@value']
      }
      return ''
    }
  },
  computed: {
    disableSaveButton () {
      const dataChanged = !Object.values(this.dataChanged).reduce((acc, val) => acc && !val, true)
      const formsValid = !Object.values(this.formsValid).reduce((acc, val) => acc && !val, true)
      return !formsValid || !dataChanged
    }
  },
  watch: {
    value () {
      if (this.showModal !== this.value)
        this.showModal = this.value
    },
    showModal (newVal, oldVal) {
      if (newVal === false) {
        this.$emit('input', false)
        this.dataChanged = JSON.parse(JSON.stringify(this.dataChangedDefault))
        this.formsValid = JSON.parse(JSON.stringify(this.formsValidDefault))
      }
    }
  }, // TODO reset on close
  methods: {
    isEmpty,
    first,
    async handleOK () {
      this.$swal.fire({ title: 'Speichere Datensatz...', didOpen: () => { this.$swal.showLoading() } })
      try {
        if (this.dataChanged.centralTerms)
          await this.$refs.centralTermsTab.save()
        if (this.dataChanged.material)
          await this.$refs.materialTab.save()
        await timeout(2000)
        this.$swal.fire({ icon: 'success', toast: true, timer: 5000, position: 'top-end', showConfirmButton: false, titleText: 'Daten erfolgreich gespeichert' })
        this.$emit('alteredData')
        this.showModal = false
      } catch (e) {
        console.log(e)
        this.$swal.fire({ icon: 'error', titleText: 'Ein Fehler ist aufgetreten', text: 'Bitte melden Sie diesen Fehler mit einer möglichst genauen Beschreibung.', footer: '<a href="mailto:roy.meissner@uni-leipzig.de?subject=Fehlerbericht EAs.LiT">E-Mail senden</a>' })
      }
    }
  }
}
</script>

<style scoped>
  .ontodiaContainer {
    border-style: solid;
    border-color: rgba(0,0,0,.25);
    border-width: 2px;
    border-radius: 4px;
    height: 48rem;
  }
  .tab-pane {
    padding-top: 0;
  }
  div.vjs-tree {
    background-color: #EEEEEE;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }
</style>
