<template>
  <div class="d-block">
    <div v-if="$route.name === 'home'">
      <p>Dieser ist die Startseite der Fachlandkarten-Anwendung. Die Karten stellen verschiedene Optionen dar, die Sie wahrnehmen können um Wissenslandkarten zu erzeugen und um Fachlandkarten zu erzeugen, explorieren und bearbeiten.</p>
      <p>Der typischste Workflow ist:
        <ol>
          <li>Per T-Mitocar eine Wissenslandkarte erzeugen</li>
          <li>Aus dieser eine Fachlandkarte erzeugen</li>
          <li>Die Fachlandkarte aufrufen, explorieren und bearbeiten</li>
          <li>Fertige Fachlandkarten als 3D-Visualisierung bspw. im Unterricht nutzen</li>
        </ol>
      </p>
    </div>
    <div v-if="$route.name === 'tmitocar'">
      <p>In dieser Ansicht können Sie Texte mit T-Mitocar zu Graphen modellieren, die den Inhalt des Textes abbilden. In diesem Zusammenhang stehen verschiedene Optionen zu Verfügung, mit denen Sie die Graphen-Erzeugung beeinflussen können.</p>
      <p>Erzeugte Graphen können wahlweise als Fachlandkarte abgespeichert werden. Dies öffnet eine neue Ansicht mit weiteren Optionen, die teilweise vorausgefüllt sein wird. Gespeicherte Fachlandkarten können in versch. Arten und Weisen angesehen, erkundet und bearbeitet werden.</p>
    </div>
    <div v-if="$route.name === 'dskgcreation'">
      <p>In dieser Ansicht können Sie von T-Mitocar erzeugte Wissenslandkarten zu Fachlandkarten umwandeln. Der initiale Graph wird dabei zu einem Semantic Web Format konvertiert und ggf. über DBpedia Spotlight automatisiert angereichert. Letztlich wird die so erzeugte Fachlandkarte in einer Datenbank hinterlegt. Über die Menüpunkte der Startseite können Sie hinterlegte Fachlandkarten in versch. Arten und Weisen ansehen, erkunden und bearbeiten.</p>
      <p>Sollte Sie keine lokale Wissenslandkarte (CSV-Datei von Ihrem PC) bereitstellen können oder wollen, so beginnen Sie stattdessen bitte mit der Karte "Wissenslandkarten erzeugen" der Startseite. Sie werden dann automatisch zu einer vorausgefüllten Seite weitergeleiet, über die Sie eine Fachlandkarte erzeugen können.</p>
      <p>Für die automatisierte Annotation muss ein Grundtext hinterlegt werden. Dies wird in den meisten Fällen der gleiche Text sein, der zur Erzeugung der Wissenslandkarte genutzt wurde.</p>
    </div>
    <div v-if="$route.name === 'ontodiaRDFStore'">
      <p>In dieser Ansicht können Sie Fachlandkarten aus der Datenbank anzeigen und bearbeiten. Sobald Sie doppelt auf einen Knoten klicken öffnet sich ein Modal, welches eine Bearbeitung des Knotens ermöglicht. Die Art der Anzeige bietet vorgefertigte Formate, welche die Komplexität der dargestellten Fachlandkarte reduzieren.</p>
    </div>
    <div v-if="$route.name === 'ontodiaLocalFile'">
      <p>In dieser Ansicht können Sie lokale Fachlandkarten (Dateien von Ihrem PC) hochladen und betrachten/analysieren. Optional können Sie die visualiserte Karte online abspeichern, wodurch diese zur Bearbeitung freigeschaltet wird. Über die Menüpunkte der Startseite können Sie sich Fachlandkarten in versch. Arten und Weisen ansehen, erkunden und bearbeiten.</p>
    </div>
    <div v-if="$route.name === '3dgraph'">
      <p>In dieser Ansicht können Sie sich hinterlegte und lokale (Datei von Ihrem PC) Fachlandkarten in 3D anzeigen lassen. Mit der Maus können sich im Modell bewegen. Per Mausrad können Sie zoomen, per linker Maustaste das Modell drehen, per rechter Maustaste das Modell verschieben.</p>
    </div>
    <div v-if="$route.name === 'sigma'">
      <p>In dieser Ansicht können Sie sich hinterlegte und lokale (Datei von Ihrem PC) Wissendlandkarten, Cluster-Karten und Fachlandkarten anzeigen lassen. Zusätzlich können Sie eine zweite Karte hinzu laden, um Überschneidungen und Unterschiede zu visualisieren. Mit der Maus können Sie sich im Modell bewegen, per Mausrad zoomen. Klicken Sie einen Knoten an werden dessen Nachbarknoten oder verbundene Cluster hervorgehoben. Bei Klick auf den weißen Hintergrund des Graphen werden etwaige Selektrionen verworfen.</p>
    </div>
    <div v-if="$route.name === 'sigmaMWB'">
      <p>Interaktive Wissensnetze sind ein Angebot, um dich mit den Inhalten der Schreibaufgaben auseinanderzusetzen. Du kannst entweder (A) eine oder mehrere deiner eigenen Schreibaufgaben als Begriffsnetz darstellen lassen; (B) dir das Expertennetz zu einem der Themenblöcke ansehen, das auf Grundlage der Seminarlektüre erstellt wurde; oder (C) beide Netze gleichzeitig betrachten und dabei die Funktion ‚Vergleich‘ nutzen. – Welche Begriffe sind häufig verknüpft und von besonderer Bedeutung für ein Thema? An welcher Stelle scheinen dir Begriffsverbindungen nicht ganz klar zu sein und müssten vielleicht durch weitere Begriffe ergänzt werden? Welche Begriffe des Expertennetzes könntest du nutzen, um deine Schreibaufgabe zu überarbeiten?</p>
    </div>
  </div>
</template>
